body {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 2fr 1fr 1.6fr 1.4fr 1.4fr 1fr 0.5fr 0.5fr;
    grid-template-rows: 5vh 40vh 0.9fr 1fr 0.9fr 48vh;
    grid-gap: 1px;
    background-color: gray;
    background-image: linear-gradient(to right, black, gray);
} /* this is the grid basically */



nav a {
    font-size: 25px;
    font-family: "Indie Flower", sans-serif;
    text-decoration: none;
    color: whitesmoke;
    margin: 0px 10px;
    text-align: right;
    grid-row: 1;
    grid-column: 1;

    /* this is for home text etc */
    
    
    
   



   
} /* this is for the text */
.text {
    font-size: 1rem;
    color:whitesmoke;
    font-family: 'Arial', sans-serif;
    grid-row: 2;
    grid-column: 4;
    border: 0.2em;
    border-color: azure;
    border-style: solid;
    margin: 5px;
    padding: 1em;
    max-width: 100%;
    height: auto;
    overflow: auto;
    
    

}

.text2 {
    font-size: 1rem;
    color:whitesmoke;
    font-family: 'Arial', sans-serif;
    grid-row: 2;
    grid-column: 5;
    border: 0.2em;
    border-color: azure;
    border-style: solid;
    margin: 5px;
    padding: 1em;
    max-width: 100%;
    height: auto;
    overflow: auto;
    /* this is for 2nd part of text */
}



    /* Defines the initial position and style of the link */
    ::-webkit-textfield-decoration-container {
        position: absolute;
        top: 10px;
        right: 50%;
    }




img {
    grid-column: 1/4;
    grid-row: 1;
    align-self: center;
    margin: 2vh;
    max-width: 100%;
    height: auto;
   /* this is the image(s) */
}








ul {
    margin: 40px 0px;
    grid-column: span 2;
    display: grid;
    grid-gap: 3%;
    grid-template-columns: 1fr 1fr 1fr;
    /* this fits all the sections in */
}



a:link {
    color: whitesmoke;
    background-color: transparent;
  } /* to click on home, store etc */
 

  

  a:hover {
    color: gray;
    
   /* when you hover on home, store etc this color shows */ }



   section p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
 } /* this is the text inside the section */
 
 

 

 .to-left {
    float: right;
    grid-row: 1;
    grid-column: 7;
    width: 150%;
    height: 150%;
 }
 /* section for img */



.imge {
        grid-row: 3;
        grid-column: 2;
}   
/* this is a section for one of the images */


.store { 
    font-size: 20px;
    font-family: "Indie Flower", sans-serif;
    text-decoration: none;
    color: whitesmoke;
    margin: 0px 10px;
    text-align: right;
    grid-row: 2;
    grid-column: 3;

} /*functions for the store */

.one  {
    font-size: 13px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    grid-column: 2;
    grid-row: 3;
    border-radius: 25px;
    border: 2px solid white;
    padding: 20px;
    width: 250px;
    height: 350px;
    background: url(images/theone.png);
    background-position: left top;
    background-repeat: repeat;
    grid: 100%;
    /* functions to help for the .one div*/
}

.one a {
    text-decoration: none;
    row-gap: 2px;
    color: whitesmoke;
} /* the a nav text for the .one div*/

.one   :hover {
    color: gray;
    
   /* when you hover on home, store etc this color shows */ }

   .two  {
    font-size: 13px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    grid-gap: 3px;
    grid-column: 3;
    grid-row: 3;
    border-radius: 25px;
    border: 2px solid white;
    padding: 20px;
    width: 250px;
    height: 350px;
    background: url(images/love-songs-cassette-mixtape-billboard-650.webp);
    background-position: left top;
    background-repeat: repeat;
    grid: 100%;
    /* functions to help for the .one div*/
}

.two a {
    text-decoration: none;
    row-gap: 2px;
    color: whitesmoke;
} /* the a nav text for the .one div*/

.two   :hover {
    color: gray;
    
   /* when you hover on home, store etc this color shows */ }

@media (max-width: 1000px) {
  /* CSS rules for screens smaller than 800px */
  .text {
    font-size: 0.8em;
    height:inherit;
    padding: 1em;
    
  }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.scroll-prompt {
    position: fixed;
    z-index: 998;
    bottom: -80px;
    left: 50%;
    margin-left: -80px;
    width: 160px;
    height: 160px;
    .scroll-prompt-arrow-container {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -18px;
        animation-name: bounce;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
    .scroll-prompt-arrow {
        animation-name: opacity;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
    .scroll-prompt-arrow:last-child {
        animation-direction: reverse;
        margin-top: -6px;
    }
    .scroll-prompt-arrow > div {
        width: 36px;
        height: 36px;
        border-right: 8px solid #bebebe;
        border-bottom: 8px solid #bebebe;
        transform: rotate(45deg) translateZ(1px);
    } /* animation for the arrow */
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(3px);
    }
    20% {
        transform: translateY(6px);
    }
    30% {
        transform: translateY(9px);
    }
    40% {
        transform: translateY(12px);
    }
    50% {
        transform: translateY(15px);
    }
    60% {
        transform: translateY(18px);
    }
    70% {
        transform: translateY(21px);
    }
    80% {
        transform: translateY(24px);
    }
    90% {
        transform: translateY(27px);
    }
    100% {
        transform: translateY(30px);
    }
} /*is how the keyframes work for the scroll arrow function */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} /* shows the border for the arrow */

.scroll-prompt {
    position: fixed;
    z-index: 998;
    bottom: -80px;
    left: 50%;
    margin-left: -80px;
    width: 160px;
    height: 160px;
    .scroll-prompt-arrow-container {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -18px;
        animation-name: bounce;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
    .scroll-prompt-arrow {
        animation-name: opacity;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
    .scroll-prompt-arrow:last-child {
        animation-direction: reverse;
        margin-top: -6px;
    }
    .scroll-prompt-arrow > div {
        width: 36px;
        height: 36px;
        border-right: 8px solid #bebebe;
        border-bottom: 8px solid #bebebe;
        transform: rotate(45deg) translateZ(1px);
    }
}
 /* shows the position and how the arrow works */
