body {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 2fr 1fr 1.6fr 1.4fr 1.4fr 1fr 0.5fr 0.5fr;
    grid-template-rows: 5vh 40vh 0.9fr 1fr 0.9fr 48vh;
    grid-gap: 1px;
    background-color: gray;
    background-image: linear-gradient(to right, black, gray);
} /* this is the grid basically */



nav a {
    font-size: 25px;
    font-family: "Indie Flower", sans-serif;
    text-decoration: none;
    color: whitesmoke;
    margin: 0px 10px;
    text-align: right;
    grid-row: 1;
    grid-column: 1;

    /* this is for home text etc */
    
    
    
   



   
} /* this is for the text */
.text {
    font-size: 1rem;
    color:whitesmoke;
    font-family: 'Arial', sans-serif;
    grid-row: 2;
    grid-column: 4;
    border: 0.2em;
    border-color: azure;
    border-style: solid;
    margin: 5px;
    padding: 1em;
    max-width: 100%;
    height: auto;
    overflow: auto;
    
    

}

.text2 {
    font-size: 1rem;
    color:whitesmoke;
    font-family: 'Arial', sans-serif;
    grid-row: 2;
    grid-column: 5;
    border: 0.2em;
    border-color: azure;
    border-style: solid;
    margin: 5px;
    padding: 1em;
    max-width: 100%;
    height: auto;
    overflow: auto;
    /* this is for 2nd part of text */
}



    /* Defines the initial position and style of the link */
    ::-webkit-textfield-decoration-container {
        position: absolute;
        top: 10px;
        right: 50%;
    }




img {
    grid-column: 1/4;
    grid-row: 1;
    align-self: center;
    margin: 2vh;
    max-width: 100%;
    height: auto;
   /* this is the image(s) */
}








ul {
    margin: 40px 0px;
    grid-column: span 2;
    display: grid;
    grid-gap: 3%;
    grid-template-columns: 1fr 1fr 1fr;
    /* this fits all the sections in */
}



a:link {
    color: whitesmoke;
    background-color: transparent;
  } /* to click on home, store etc */
 

  

  a:hover {
    color: gray;
    
   /* when you hover on home, store etc this color shows */ }



   section p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
 } /* this is the text inside the section */
 
 

 

 .to-left {
    float: right;
    grid-row: 1;
    grid-column: 7;
    width: 150%;
    height: 150%;
 }
 /* section for img */



.imge {
        grid-row: 3;
        grid-column: 2;
}   
/* this is a section for one of the images */


.store { 
    font-size: 20px;
    font-family: "Indie Flower", sans-serif;
    text-decoration: none;
    color: whitesmoke;
    margin: 0px 10px;
    text-align: right;
    grid-row: 2;
    grid-column: 3;

}

.one  {
    font-size: 13px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    grid-column: 2;
    grid-row: 3;
    border-radius: 25px;
    border: 2px solid white;
    padding: 20px;
    width: 250px;
    height: 350px;
    background: url(images/theone.png);
    background-position: left top;
    background-repeat: repeat;
    
}

.one a {
    text-decoration: none;
    row-gap: 2px;
}

@media (max-width: 1000px) {
  /* CSS rules for screens smaller than 800px */
  .text {
    font-size: 0.8em;
    height:inherit;
    padding: 1em;
    
  }
}
